/data/*
!/data/.gitkeep
__pycache__

.theia
_*.md

# VSC
.vscode
.history
*.vsix
.history
.ionide

# PyCharm/IntelliJ
.idea
*.iml
out

# Eclipse
.project
.classpath

# Python
profile_default
.venv
venv

# ML stuff
wandb/**
onset_dataset.dill
lightning_logs/**
lightning_talks/**